@charset "utf-8";
/* CSS Document */

/*###############  RESET ###############*/
HTML, BODY{width:100%; height:100%;}
html{ height:100%; margin:0; padding:0;}
body {width:100%; height:100%; margin:0; padding:0; font-family:Arial, 'Helvetica', sans-serif; color:#333;}
* html #contenedor{heigth:100%;}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align:baseline; background: transparent;}

a, a:visited {text-decoration: none; outline: none; border: none;}
a, a:visited{font-size:12px; color:#fefefe;}
a:hover{color:#fefefe; text-decoration:underline;}
a.readMore {float:right;}
	
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: ''; content: none;}

:focus {outline: 0;}

ins {text-decoration: none;}
del {text-decoration: line-through;}

table {border-collapse: collapse; border-spacing: 0;}

header,nav, section, article, footer{display:block;}

body{background: url(../images/bg.png) repeat left top rgba(204,204,204,0.4); }

.clear, br { clear: both; }
/*###############  RESET ###############*/
